*.o
*.la
*.swp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/nwalign
src/nwalign.lo
stamp-h1
test-driver
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/.libs/
tests/check_nwalign
tests/check_nwalign.log
tests/check_nwalign.trs
tests/test-suite.log
